@model HomeViewModel

<div class="mb-5">

    @if (Model.Cache == null)
    {
        <p class="text-center">მონაცემები არ გვაქვს, ვცდილობთ განავაახლოთ...</p>
        <p class="text-center">რემდენიმე წამი დაგველოდე 😕</p>
        <script>
            setTimeout(function () { window.location.reload(true); }, 5000)
        </script>
    }
    else
    {
        <div class="filters-wrap my-4">
            <div class="dropdown__single">
                <select id="selectRegion">
                    <option value="">ყველა რეგიონი</option>
                    @foreach (var municipality in Model.Cache.Municipalities)
                    {
                        <option value="@(municipality.RegionId)" selected="@(municipality.RegionId == Model.FilterRegionId)">@(municipality.RegionName)</option>
                    }
                </select>
                <div class="dropdown__arrow">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.847 451.846" style="enable-background:new 0 0 451.847 451.846;" xml:space="preserve">
                    <g>
                    <path d="M248.292,106.406l194.281,194.29c12.365,12.359,12.365,32.391,0,44.744c-12.354,12.354-32.391,12.354-44.744,0 L225.923,173.529L54.018,345.44c-12.36,12.354-32.395,12.354-44.748,0c-12.359-12.354-12.359-32.391,0-44.75L203.554,106.4 c6.18-6.174,14.271-9.259,22.369-9.259C234.018,97.141,242.115,100.232,248.292,106.406z" />
	                    </g>
                    </svg>
                </div>
            </div>
            <div class="dropdown__single">
                <select id="selectVaccine">
                    <option value="">ყველა ვაქცინა</option>
                    @foreach (var vaccine in Model.Cache.Vaccines)
                    {
                        string selectedAttribute = "";
                        <option value="@(vaccine.Id)" selected="@(vaccine.Id == Model.FilterVaccineId)">@(vaccine.Name)</option>
                    }
                </select>
                <div class="dropdown__arrow">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.847 451.846" style="enable-background:new 0 0 451.847 451.846;" xml:space="preserve">
                    <g>
                    <path d="M248.292,106.406l194.281,194.29c12.365,12.359,12.365,32.391,0,44.744c-12.354,12.354-32.391,12.354-44.744,0 L225.923,173.529L54.018,345.44c-12.36,12.354-32.395,12.354-44.748,0c-12.359-12.354-12.359-32.391,0-44.75L203.554,106.4 c6.18-6.174,14.271-9.259,22.369-9.259C234.018,97.141,242.115,100.232,248.292,106.406z" />
	                    </g>
                    </svg>
                </div>
            </div>
        </div>
        @foreach (var vaccine in Model.Cache.Vaccines)
        {
            <div class="card mb-4" data-vaccine="@(vaccine.Id)">
                <div class="card-header p-4">
                    <h5 class="card-title mb-0">@(vaccine.Name)</h5>
                    <partial name="Partials/_VaccineDescriptionPartial" model="vaccine" />
                </div>
                <div class="card-body p-4">

                    @if (vaccine.Municipalities != null)
                    {
                        foreach (var municipality in vaccine.Municipalities)
                        {
                            <div class="card-text mb-4" data-region="@(municipality.RegionId)">
                                <p>
                                    <b>@(municipality.RegionName) -> @(municipality.Name)</b>
                                    <span class="badge badge-success">@(municipality.AvailableCount) ადგილი</span>
                                </p>
                                <ul class="list-group">
                                    @if (municipality.Locations != null)
                                    {
                                        foreach (var location in municipality.Locations)
                                        {
                                            <li class="list-group-item location-wrap js-location-wrap">
                                                <div class="location-head">
                                                    <span class="card-text">
                                                        <span class="badge bg-info">
                                                            @(location.AvailableCount)
                                                        </span>
                                                        <span>
                                                            @(location.BranchName) (@(location.BranchAddress))
                                                        </span>
                                                    </span>
                                                    <button type="button" data-service-id="@vaccine.ServiceId" data-region-id="@municipality.RegionId" data-branch-id="@location.BranchId" class="btn btn-success btn-sm location-loaddetails js-slots-toggle">
                                                        ადგილები
                                                        <i class="bi bi-chevron-down details-closed"></i>
                                                        <i class="bi bi-x details-open"></i>
                                                        <i class="bi bi-hourglass-split details-loading"></i>
                                                    </button>
                                                </div>
                                                <div class="location-slots js-location-slots">
                                                    <div class="location-slots__content js-location-slots-content"></div>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
</div>

<div class="modal" id="slot-modal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">თავისუფალი ადგილების სია</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-content">
            </div>
            <div class="modal-footer">
                <a href="https://booking.moh.gov.ge/Hmis/Hmis.Queue.Web/#/register" class="btn btn-primary">
                    ვიზიტის დაჯავშნა
                    <i class="bi bi-check2-circle"></i>
                </a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">დახურვა</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    filterVaccines("@(Model.FilterVaccineId)");
    filterRegions("@(Model.FilterRegionId)");
    </script>
}