@model HomeViewModel

<div class="mb-5">

    @if (Model.Overview == null)
    {
        <p class="text-center">მონაცემები არ გვაქვს, ვცდილობთ განავაახლოთ...</p>
        <p class="text-center">რემდენიმე წამი დაგველოდე 😕</p>
        <script>
            setTimeout(function () { window.location.reload(true); }, 5000)
        </script>
    }
    else
    {
        foreach (var vaccine in Model.Overview.Vaccines)
        {
            <div class="card mb-4" data-vaccine="@(vaccine.Id)">
                <div class="card-body">
                    <h5 class="card-title">@(vaccine.Name)</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><partial name="Partials/_VaccineDescriptionPartial" model="vaccine" /></h6>

                    @if (vaccine.Municipalities != null)
                    {
                        <hr />
                        foreach (var municipality in vaccine.Municipalities)
                        {
                            <p class="card-text" data-region="@(municipality.RegionId)">
                                <b>@(municipality.RegionName) -> @(municipality.Name)</b>
                                <span class="badge badge-secondary btn-success">@(municipality.AvailableCount) ადგილი</span>
                                <ul class="list-group">
                                    @if (municipality.Locations != null)
                                    {
                                        foreach (var location in municipality.Locations)
                                        {
                                            <li class="list-group-item">
                                                <span class="card-text">
                                                    <span class="badge badge-secondary btn-secondary">
                                                        @(location.AvailableCount)
                                                    </span>
                                                    @(location.BranchName) (@(location.BranchAddress))
                                                </span>
                                            </li>
                                        }
                                    }
                                </ul>
                            </p>
                        }
                    }
                </div>
            </div>
        }
    }
</div>