@model IEnumerable<OpenSlotModel>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-12">
            <h4>@item.Name</h4>
        </div>
    </div>
    <table class="table table-striped table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col">
                    <div style="width:85px">
                        თარიღი
                    </div>
                </th>
                <th scope="col">კვირის დღე</th>
                <th scope="col">თავისუფალი დროები</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var date in item.Dates)
            {
                <tr class="@(date.WeekName == "შაბათი" || date.WeekName=="კვირა" ? "table-danger" : "")">
                    <th>@date.Dt?.ToString("dd-MM-yyyy")</th>
                    <th scope="row">@date.WeekName</th>
                    <td>
                        <div class="row row-cols-auto px-3">
                            @foreach (var slot in date.Slots)
                            {
                                <div class="col slot-times mb-2">@slot.Value</div>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
 